<h4><span class="btn btn-danger">Immediate</span> | New | View Issue tab is broken</h4>
<div class="well well-sm">
    After creating a new tab to View and issue, other tabs stop working. Steps to reproduce:</br>
    <ol>
        <li>Open Application</li>
        <li>Goto Issues Tab</li>
        <li>Open any issue for the list</li>
        <li>A new tab will be added to the issues tab</li>
        <li>Try switching between tabs</li>
    </ol>
        Expected behavior:<br>
    <ol>
        <li>Existing tabs shoud work as before</li>
    </ol>
</div>